/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0%;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
    height: 10%;
    width: 100%;
    border: 2px solid black;
}

.sectionOne{
    height: 50%;
    width: 100%;
    border: 2px solid green;
}

.sectionTwo{
    height: 40%;
    width: 100%;
    border: 2px solid brown;
}

.sectionThree{
    height: 40%;
    width: 100%;
    border: 2px solid grey;
}

.sectionFour{
    height: 40%;
    width: 100%;
    border: 2px solid teal;
}

footer {
    height: 20%;
    width: 100%;
    border: 2px solid orange;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
